.kitchen {
  background-image: url("../assets/backgrounds/kitchen.png");
}

.kitchenToLivingroom {
  position: absolute;
  top: 52px;
  left: 1033px;

  &:hover img {
    filter: brightness(0.9);
  }
}