.mainMenu {
  background-image: url("../assets/backgrounds/mainmenu.png");
}
.startButton {
  position: absolute;
  top: 287px;
  left: 617px;
}
.startButton--text {
  width: 100%;
  text-align: center;
  font-family: "Letters For Learners", sans-serif;
  font-size: 80px;
  color: #000000;
}
.startButton:hover img {
  filter: brightness(0.9);
}
.settingsButton {
  position: absolute;
  top: 493px;
  left: 661px;
}
.settingsButton--text {
  width: 100%;
  text-align: center;
  font-family: "Letters For Learners", sans-serif;
  font-size: 80px;
  color: #3E87B3;
}
.settingsButton:hover img {
  filter: brightness(0.9);
}
.helpButton {
  position: absolute;
  top: 493px;
  left: 250px;
}
.helpButton--text {
  width: 100%;
  text-align: center;
  font-family: "Letters For Learners", sans-serif;
  font-size: 80px;
  color: #3E87B3;
}
.helpButton:hover img {
  filter: brightness(0.9);
}
.hallway {
  background-image: url("../assets/backgrounds/hallway.png");
}
.hallwayToKitchen {
  position: absolute;
  top: 54px;
  left: 40px;
}
.hallwayToKitchen:hover img {
  filter: brightness(0.9);
}
.hallwayToLivingroom {
  position: absolute;
  top: 56px;
  left: 331px;
}
.hallwayToLivingroom:hover img {
  filter: brightness(0.9);
}
.hallwayToDorm {
  position: absolute;
  top: 54px;
  left: 1033px;
}
.hallwayToDorm:hover img {
  filter: brightness(0.9);
}
.settings {
  background-image: url("../../assets/backgrounds/settings.png");
}
.slider {
  position: absolute;
  top: 399px;
  left: 320px;
  -webkit-appearance: none;
  appearance: none;
  width: 691px;
  height: 5px;
  background: #3E87B3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
  cursor: url("../assets/cursors/cursor-signal.png"), pointer;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 25px;
  background: #ffffff;
  cursor: url("../../assets/cursors/cursor-signal.png"), pointer;
  border: solid 2px black;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: url("../../assets/cursors/cursor-signal.png"), pointer;
  border: solid 2px black;
  border-radius: 50%;
}
.settingsDoneButton {
  position: absolute;
  top: 489px;
  left: 509px;
}
.settingsDoneButton--text {
  width: 100%;
  text-align: center;
  font-family: "Letters For Learners", sans-serif;
  font-size: 60px;
  color: #000000;
}
.settingsDoneButton:hover img {
  filter: brightness(0.9);
}
.kitchen {
  background-image: url("../assets/backgrounds/kitchen.png");
}
.kitchenToLivingroom {
  position: absolute;
  top: 52px;
  left: 1033px;
}
.kitchenToLivingroom:hover img {
  filter: brightness(0.9);
}
.bathroom {
  background-image: url("../assets/backgrounds/bathroom.png");
}
.dorm {
  background-image: url("../assets/backgrounds/dorm.png");
}
.dormToBathroom {
  position: absolute;
  top: 54px;
  left: 40px;
}
.dormToBathroom:hover img {
  filter: brightness(0.9);
}
.livingroom {
  background-image: url("../assets/backgrounds/livingroom.png");
}
.livingroomToKitchen {
  position: absolute;
  top: 52px;
  left: 40px;
}
.livingroomToKitchen:hover img {
  filter: brightness(0.9);
}
@font-face {
  font-family: "Birdy Game";
  src: url("../fonts/BirdyGame.ttf") format("truetype");
}
@font-face {
  font-family: "Letters For Learners";
  src: url("../fonts/LettersForLearners.ttf") format("truetype");
}
.gameWindow {
  width: 1280px;
  height: 720px;
  background-size: 1280px 720px;
  background-repeat: no-repeat;
  cursor: url("../assets/cursors/cursor.png"), default;
}
.scaleDown {
  transform: scale(0.66666667);
  transform-origin: top left;
}
.cursorPointer {
  cursor: url("../assets/cursors/cursor-signal.png"), pointer;
}
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.goBackwards {
  width: 1280px;
  height: 40px;
  position: absolute;
  top: 490px;
  cursor: url("../assets/cursors/cursor-signal.png"), pointer;
}
.goBackwards--text {
  width: 100%;
  text-align: center;
  font-family: "Letters For Learners", sans-serif;
  font-size: 30px;
  color: #000000;
  visibility: hidden;
}
.goBackwards:hover .goBackwards--text {
  visibility: visible;
}
