.hallway {
  background-image: url("../assets/backgrounds/hallway.png");
}

.hallwayToKitchen {
  position: absolute;
  top: 54px;
  left: 40px;

  &:hover img {
    filter: brightness(0.9);
  }
}

.hallwayToLivingroom {
  position: absolute;
  top: 56px;
  left: 331px;

  &:hover img {
    filter: brightness(0.9);
  }
}

.hallwayToDorm {
  position: absolute;
  top: 54px;
  left: 1033px;

  &:hover img {
    filter: brightness(0.9);
  }
}
