.mainMenu {
	background-image: url("images/Hauptmenu.png");
	background-size: 1280px 720px;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	cursor: url("images/cursor.png"), default;
}

.settings {
	background-image: url("images/Einstellungen.png");
	background-size: 1280px 720px;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	cursor: url("images/cursor.png"), default;
}

.flur {
	background-image: url("images/Flur.png");
	background-size: 1280px 720px;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	cursor: url("images/cursor.png"), default;
}

.kueche {
	background-image: url("images/Kuche.png");
	background-size: 1280px 720px;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	cursor: url("images/cursor.png"), default;
}

.wohnzimmer {
	background-image: url("images/Wohnzimmer.png");
	background-size: 1280px 720px;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	cursor: url("images/cursor.png"), default;
}

.schlafzimmer {
	background-image: url("images/Schlafzimmer.png");
	background-size: 1280px 720px;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	cursor: url("images/cursor.png"), default;
}

.bad {
	background-image: url("images/Badezimmer.png");
	background-size: 1280px 720px;
	width: 1280px;
	height: 720px;
	background-repeat: no-repeat;
	cursor: url("images/cursor.png"), default;
}

.startbutton {
	width: 429px;
	height: 105px;
	#background: black;
	position: absolute;
	top: 287px;
	left: 610px;
	cursor: url("images/cursor-signal.png"), pointer;
}

.settingsButton {
	width: 386px;
	height: 70px;
	#background: black;
	position: absolute;
	top: 493px;
	left: 661px;
	cursor: url("images/cursor-signal.png"), pointer;
}

.settingsdone {
	width: 277px;
	height: 55px;
	#background: black;
	position: absolute;
	top: 489px;
	left: 509px;
	cursor: url("images/cursor-signal.png"), pointer;
}

.menubutton {
	width: 1280px;
	height: 70px;
	#background: black;
	position: absolute;
	top: 456px;
	cursor: url("images/walk.png"), pointer;
}

.flurbutton {
	width: 1280px;
	height: 70px;
	#background: black;
	position: absolute;
	top: 456px;
	cursor: url("images/walk.png"), pointer;
}

.kuechebutton {
	width: 221px;
	height: 410px;
	#background: black;
	position: absolute;
	top: 70px;
	left: 31px;
	cursor: url("images/walk.png"), pointer;
}

.wohnzimmerbutton {
	width: 237px;
	height: 410px;
	#background: black;
	position: absolute;
	top: 47px;
	left: 324px;
	cursor: url("images/walk.png"), pointer;
}

.schlafzimmerbutton {
	width: 221px;
	height: 410px;
	#background: black;
	position: absolute;
	top: 70px;
	left: 1028px;
	cursor: url("images/walk.png"), pointer;
}

.kuechewohnzimmerbutton {
	width: 221px;
	height: 410px;
	#background: black;
	position: absolute;
	top: 70px;
	left: 1028px;
	cursor: url("images/walk.png"), pointer;
}

.badbutton {
	width: 221px;
	height: 410px;
	#background: black;
	position: absolute;
	top: 70px;
	left: 31px;
	cursor: url("images/walk.png"), pointer;
}

.badschlafzimmerbutton {
	width: 1280px;
	height: 70px;
	#background: black;
	position: absolute;
	top: 456px;
	cursor: url("images/walk.png"), pointer;
}
